.quoteLogo {
  display: flex;
  justify-content: center;
}

.quoteFromCustomer {
  background-color: #f8fbfe;
  line-height: 30px;
}

.quoteFromCustomerHangingImage {
  padding-top: 150px !important;
  overflow-x: hidden;
}

.quoteText {
  word-spacing: 1px;
  color: #666666;
  font-size: 1.125rem;
    overflow-x: hidden;

}

.quoteName {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.quoteCredential {
  font-size: 1.25rem;
}

@media screen and (max-width: 1080px) {
  .quoteLogo {
    display: none;
    justify-content: flex-start !important;
  }

  .quoteFromCustomer {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
