@use "../../styles" as *;

.quoteLogo {
  display: flex;
  justify-content: center;
}

.quoteFromCustomer {
  background-color: $color-bg-light;
  line-height: 1.875rem;
}

.quoteFromCustomerHangingImage {
  padding-top: 150px !important;
  overflow-x: hidden;
}

.quoteText {
  word-spacing: 1px;
  color: $color-text-muted;
  font-size: $font-size-md;
  overflow-x: hidden;
}

.quoteName {
  font-weight: bold;
  margin-bottom: 0;
  font-size: $font-size-lg;
}

.quoteCredential {
  font-size: $font-size-lg;
}

@include mobile {
  .quoteLogo {
    display: none;
  }

  .quoteFromCustomer {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
