@use "../../styles" as *;

.digitalInterviewQuote {
  width: 100%;
  background-image: url("../../../public/img/bkgs/quote.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10%;
}

@include mobile {
  .digitalInterviewQuote {
    background-size: 20px;

    p:first-child {
      font-size: $font-size-md !important;
    }
  }
}
