.modelBox {
  border-top: 6px #3d72e7 solid;
  min-height: 350px;
  min-width: 200px;
  border-radius: 5px;
  box-shadow: rgba(99, 108, 117, 0.2) 0px 8px 24px;
  text-align: center;
  color: #959baf;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.modelboxIcon {
  font-size: 1.875rem;
  margin-bottom: 20px;
  color: #535b7c;
}

.modelBox h5 {
  font-weight: bold;
  font-size: 1.1875rem;
  color: #535b7c;
}

.modelBox p {
  font-size: 1rem;
}