.listPointsAssessmentWrapper {
  background-color: #f8fbfe;
}

.listPointsAssessment {
  color: #959baf;
  font-size: 1.125rem;
}

.listPointsAssessment .listPointImg {
  width: min(100%, 400px);
  height: auto;
  max-height: 500px;
  max-width: 400px;
  animation: fadeInImage 0.6s ease-in-out;
}
