* {
  font-family: "Nunito Sans", Helvetica, Arial, Lucida, sans-serif;
}

#logo {
  width: auto;
  height: 35px;
}

.centerNavbar {
  margin: auto;
}

.navbar a {
  color: black;
  font-weight: 600;
  text-align: center;
  font-size: 0.9375rem;
}

.navbar {
  --bs-navbar-toggler-border-color: transparent;
  background-color: white !important;
}

.companyNavLogo {
  margin-left: 30px;
}

.navbar-toggler {
  margin-right: 30px;
}

footer {
  color: #84bdff;
  font-size: 0.9375rem;
}

footer a {
  color: #84bdff;
  text-decoration: none;
  font-weight: bold;
}

footer p {
  margin-bottom: 5px;
}

#footerParagraphsBkg {
  background-color: black;
  margin: 0px;
  padding: 5px 0px;
}

#footerParagraphs {
  text-align: left;
}

#footerCard {
  background-image: linear-gradient(243deg, #3d72e7 0%, #53a0fe 100%);
  text-align: center;
  color: white;
  font-size: 2.1875rem;
  font-weight: bold;
  padding: 25px 30px;
  border-radius: 4px;
  top: 50px;
  position: relative;
  width: 80%;
  max-width: 987px;
  margin: 0 auto;
}

#footerCard button {
  color: #3d72e7;
  border-width: 0px;
  border-radius: 26px;
  letter-spacing: 1px;
  font-weight: 800;
  font-size: 0.9375rem;
  padding: 15px 30px;
  background-color: white;
  text-transform: uppercase;
}

#footerBkgBottom {
  background-color: #202332;
  padding-bottom: 100px;
}

#footerSocials {
  font-size: 1.875rem;
}

#footerSocials a {
  margin-right: 10px;
}

.midnightBackground {
  height: 556px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.quoteLogo {
  margin: auto;
  margin-right: 0px;
  text-align: right;
  margin-top: 0px;
}

#srhmLogo {
  width: 150%;
  max-width: 200px;
  margin: auto;
}

.quoteFromCustomer {
  background-color: #f8fbfe;
  padding: 30px;
  padding-top: 150px;
  line-height: 30px;
}

.quoteText {
  word-spacing: 1px;
  color: #666666;
  font-size: 1.125rem;
  margin: auto;
}

.quoteName {
  font-weight: bold;
  margin-bottom: 0px;
  font-size: 1.25rem;
}

.quoteCredential {
  font-size: 1.25rem;
}

.digitalInterviewOverlay {
  color: white;
  background-color: transparent;
  position: relative;
  bottom: 500px;
  margin-bottom: -626px;
}

.digitalInterviewOverlay h1 {
  font-weight: bold;
}

.digitalInterviewOverlay button {
  border-radius: 61px;
  font-size: 1.125rem;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 0.3em 1em;
  margin: 20px;
  transition: all 300ms ease 0ms;
}

.digitalInterviewOverlay img {
  width: 50%;
  max-width: 700px;
}

.listPoints {
  padding: 25px 50px;
  vertical-align: middle;
}

.listPointText {
  text-align: left;
  color: #959baf;
  line-height: 30px;
  max-width: 500px;
  min-width: 300px;
}

.listPointTextLeft {
  margin-bottom: 30px;
}

.listPointText h1 {
  color: #535b7c;
  font-weight: bold;
  margin-bottom: 20px;
}

.listPoints button {
  color: white;
  background-image: linear-gradient(243deg, #3d72e7 0%, #53a0fe 100%);
  border: none;
  border-radius: 26px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 13px 25px;
  font-size: 0.9375rem;
  margin-top: 5px;
}

.listPoint {
  padding: 25px 0px;
  margin: 50px auto;
}

.listPointImg {
  max-height: 350px !important;
  max-width: 450px !important;
  min-width: 400px;
}

.listPointImgLeft {
  margin-bottom: 30px;
}

#listPointsHome {
  color: #959baf;
  font-size: 1.125rem;
}

#listPointsHome img {
  max-height: 380px;
  max-width: 400px;
  padding: 5px;
}

.exerpt {
  background-image: linear-gradient(135deg, #53a0fd 0%, #4161d4 100%);
  background-blend-mode: overlay;
  color: white;
  font-size: 1.125rem;
  line-height: 35px;
  padding: 50px 21%;
}

#digitalInterviewHeader {
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1.25rem;
  line-height: 35px;
  height: 50%;
}

.introHeaderHeading {
  margin-bottom: 40px;
  font-size: 2.1875rem;
  font-weight: bold;
}

.introHeaderBtn {
  border-radius: 61px;
  font-size: 1.125rem;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 0.3em 1em;
  margin-top: 10px;
  transition: all 300ms ease 0ms;
}

.introHeaderBtn:hover {
  border-color: transparent;
  margin-right: 20px;
}

.introHeaderBtn:hover .introHeaderBtnArrow {
  visibility: visible;
  left: 20px;
  transition: all 300ms ease 0ms;
}

.introHeaderBtnArrow {
  display: inline;
  position: relative;
  margin-left: -15px;
  left: -25px;
  top: 1px;
  visibility: hidden;
}

.introHeaderImg {
  width: auto;
  max-height: 300px;
  margin-left: -100px;
  margin-right: 50px;
}

.introHeaderText {
  margin-right: 10%;
  padding-top: 30px;
  width: 100%;
  max-width: 300px;
}

#listPointsInterview {
  color: #959baf;
  font-size: 1.125rem;
}

#listPointsInterview img {
  max-height: 300px;
  max-width: 450px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid #e4e7e9;
  border-radius: 10px;
  padding: 5px;
}

#integrationCompanies {
  margin-top: 30px;
  font-weight: bold;
  color: #7a809b;
  margin-bottom: 50px;
}

.integrationCompaniesImg {
  margin: auto 20px;
  box-shadow: none !important;
  border: none !important;
  max-width: 100px !important;
  min-width: 50px;
}

#digitalInterviewQuote {
  width: 70%;
  margin: auto auto;
  color: #535b7c;
  font-weight: bold;
  font-size: 1.1875rem;
  padding: 50px 0px;
  background-size: initial;
  background-position: 50%;
  background-repeat: no-repeat;
}

#digitalInterviewQuoteDesc {
  margin-bottom: 30px;
}

#digitalInterviewQuoteTitle {
  margin-bottom: 0px;
  font-size: 0.9375rem;
  color: #959baf;
}

#digitalInterviewQuoteCompany {
  font-weight: normal;
  font-size: 0.9375rem;
  color: #959baf;
}

#exerptDigitalInterview h1 {
  padding-bottom: 30px;
  font-weight: bold;
}

#assessmentTechnologyQuote {
  width: 70%;
  margin: auto auto;
  color: #535b7c;
  font-weight: bold;
  font-size: 1.1875rem;
  padding-top: 50px;
  background-size: initial;
  background-position: 50%;
  background-repeat: no-repeat;
}

#assessmentTechnologyHeader {
  color: white;
  padding-top: 30px;
  padding-bottom: 60px;
  font-size: 1.25rem;
  line-height: 35px;
  height: 50%;
  background-image: radial-gradient(
    circle at center,
    #e01c11 0%,
    #210444 100%
  ) !important;
}

#introHeaderAssessmentTechnology {
  margin-right: 10px;
  width: 50%;
  min-width: 200px;
  max-height: 500px;
  max-width: 450px;
}

#listPointsAssessment {
  color: #959baf;
  font-size: 1.125rem;
}

.listPointParagraph {
  width: 90%;
  margin: 0px auto;
}

#listPointsAssessment img {
  max-height: 500px;
  max-width: 400px;
  padding: 5px;
}

.modelBox {
  border-top: 6px #3d72e7 solid;
  min-height: 400px;
  min-width: 200px;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: rgba(99, 108, 117, 0.2) 0px 8px 24px;
  text-align: center;
  color: #959baf;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 25%;
}

.modelboxIcon {
  font-size: 1.875rem;
  margin-bottom: 20px;
  color: #535b7c;
}

.modelBox h5 {
  font-weight: bold;
  font-size: 1.1875rem;
  color: #535b7c;
}

.modelBox p {
  font-size: 1rem;
}

#assessmentBuilderDiv {
  margin-top: 50px;
  color: #959baf;
  line-height: 25px;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

#assessmentBuilderDiv h1 {
  font-weight: bold;
  font-size: 1.875rem;
  color: #535b7c;
}

#competencyModelHeader {
  color: white;
  padding-top: 30px;
  padding-bottom: 60px;
  font-size: 1.25rem;
  line-height: 35px;
  height: 50%;
}

#competencyAssessmentDiv {
  margin-top: 50px;
  margin-bottom: 50px;
}

#hoverImgDesc {
  width: 100%;
  padding: 0px;
  margin-bottom: 50px;
}

#hoverImg {
  max-width: 800px !important;
  width: 100%;
  box-shadow: rgba(99, 108, 117, 0.2) 0px 8px 24px;
  border: solid 1px #eaeaea !important;
  border-radius: 20px;
  border: none;
  margin-left: 30px;
  animation: fadeInOrgImg 0.5s;
}

@keyframes fadeInNewImg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOrgImg {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.articleBox {
  min-height: 400px;
  min-width: 200px;
  max-width: 300px;
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: rgba(99, 108, 117, 0.2) 0px 8px 24px;
  padding-bottom: 20px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.paddingArticles {
  width: 2%;
}

.articleBoxText {
  padding-left: 10px;
  padding-right: 10px;
}

.articleBox img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 20px;
}

.articleBox h5 {
  font-size: 1.5625rem;
  padding-top: 10px;
  color: #333333;
}

.articleBox p {
  font-size: 1.25rem;
  color: #666;
}

.articleBoxCredit {
  font-size: 0.75rem !important;
}

.articleBox a {
  text-decoration: none;
}

#psychModelHeader {
  color: white;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 1.25rem;
  line-height: 35px;
  height: 50%;
}

.misc {
  width: 50%;
  padding-top: 50px;
  color: #666666;
  padding-bottom: 500px;
}

.misc h1 {
  color: #333333;
}

#contactUsBkg {
  height: 380px;
}

#contactUsHeader {
  color: white;
  position: relative;
  top: 130px;
  font-weight: bold;
  margin-top: -480px;
}

#contactUsHeader h1 {
  font-weight: bold;
}

#contactUsHeader > p {
  margin: 30px auto auto auto;
  width: 50%;
  font-size: 1.25rem;
  font-weight: bold;
}

#contactUsBox {
  width: 450px;
  padding: 30px;
  border: solid 1px black;
  border-radius: 20px;
  margin: 30px auto auto auto;
  text-align: left;
  font-size: 0.9375rem;
  font-weight: bold;
  color: #4c4c4c;
  background-color: white;
}

#contactUsBox label {
  display: block;
  margin-bottom: 4px;
}

#contactUsBox input {
  display: block;
  border: solid 1px #cccccc;
  color: #333333;
  padding: 5px 8px;
  font-size: 1rem;
  width: 70%;
}

#contactUsBox .errorMsg {
  display: block;
  width: 70%;
  margin: 4px 0 4px;
  font-size: 0.75rem;
  line-height: 1.3;
  min-height: 1.3em;
  text-align: left;
  font-weight: normal;
  color: #990000;
}

#contactUsBox .errorMsg:empty {
  visibility: hidden;
}

#contactUsBox input:focus {
  outline: none;
  border-color: #a3a3a3;
}

#contactUsBox button {
  margin-top: 5px;
  border: solid 1px #dddddd;
  background-color: #eeeeee;
  padding: 10px 15px;
  font-size: 1.3125rem;
  color: #333333;
}

#contactUsQuote {
  padding-top: 180px;
}

#btnHomeSchedule:hover {
  padding-right: 30px;
}

@media screen and (max-device-width: 1000px) {
  #footerCard .float-end {
    float: none !important;
  }
  .quoteLogo {
    padding-left: 14%;
    text-align: left;
    width: 100%;
  }
  .introHeaderText {
    text-align: center;
    margin: auto;
  }
  #introHeaderAssessmentTechnology {
    margin: auto;
    width: 80%;
    max-height: 500px;
  }
  #competencyModelHeader img {
    width: 80%;
    margin: auto;
    max-height: 500px;
  }
  #hoverImg {
    visibility: collapse;
    height: 0px;
    margin: 0px;
    padding: 0px;
  }
  #hoverImgDesc {
    margin: 0px;
  }
  #assessmentBuilderDiv ul {
    text-align: left;
  }
  .exerpt {
    padding-left: 50px;
    padding-right: 50px;
  }
  .listPointImg {
    min-width: 100px;
    width: 90%;
  }
}
