.exerpt {
  width: 100%;
}

.exerpt-blue {
  background: linear-gradient(243deg, #3d72e7 0%, #53a0fe 100%);
  color: white;
}

.exerpt-geometric {
  background-image: url("../../../public/img/bkgs/cmp.png");
  background-size: cover;
}
