.exerpt {
  color: white;
  font-size: 1.125rem;
  line-height: 35px;
  width: 100%;
}

.exerpt-blue {
  background-image: url("../../../public/img/bkgs/blue.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.exerpt-geometric {
  background-image:
    url("../../../public/img/bkgs/geometric.png"),
    linear-gradient(135deg, #53a0fd 0%, #4161d4 100%);
  background-blend-mode: overlay;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: center, center;
}

.exerpt .container {
  width: min(100%, 1000px);
  margin: 0 auto;
}

.introHeaderHeading {
  margin-bottom: 40px;
  font-size: 2.1875rem;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .exerpt {
    padding-left: 0.275rem;
    padding-right: 0.275rem;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;

    h1 {
      text-align: left !important;
    }

    h3 {
      padding-top: 0.5rem !important;
      padding-bottom: 0 !important;
    }

    p {
      margin-bottom: 0.275rem !important;
    }
  }
}
